@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'NunitoSans', sans-serif;
  line-height: 1.5;
  font-weight: 400;


  /* hide scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* disable text selection*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Path: src/index.css */

/* Custom Fonts */
@font-face {
  font-family: 'NunitoSans';
  src: url('./assets/fonts/NunitoSans/NunitoSansRegular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans-SemiBold';
  src: url('./assets/fonts/NunitoSans/NunitoSansSemiBold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans-Bold';
  src: url('./assets/fonts/NunitoSans/NunitoSansBold.ttf');
  font-weight: bold;
}

